@import "../../scss/variables";
@import "../../scss/mixins";

.box-pagi {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // border: $pink 2px solid;
  margin: auto;
  width: 80%;
  height: 119px;
  position: fixed;
  bottom: 3rem;  
  height: 50px;
  .pagi {
      margin: auto;
  }
}
@include media-md {
  .box-pagi {
    width: 100% !important;
    // border: rgb(32, 21, 21) 5px solid;
    bottom: 0;
    margin: auto;
    height: auto;

  }
  .pagi{
    width: fit-content;
    // border: rgb(184, 25, 25) 2px solid;
    
  }
}