@import "../../scss/variables";
@import "../../scss/mixins";

.box-pagi-char {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // border: $pink 2px solid;
  // margin: auto;
  width: 100%;
  height: 119px;
  position: fixed;
  bottom: 0rem;  
  height: 50px;
  .pagi-char {
      margin: auto;
  }
}
@include media-md {
  .box-pagi-char {
    width: 100% !important;
    // border: rgb(32, 21, 21) 5px solid;
    bottom: 0;
    margin: auto;
    height: auto;

  }
  .pagi-char{
    width: fit-content;
    // border: rgb(184, 25, 25) 2px solid;
    
  }
}
@include media-lg {
  .box-pagi-char {
    width: 100% ;
    // border: rgb(32, 21, 21) 5px solid;
    bottom: 1rem;
    margin: auto;
    height: auto;

  }
  .pagi-char{
    width: fit-content;
    // border: rgb(184, 25, 25) 2px solid;
    
  }
}