@import "../../scss/mixins";
@import "../../scss/variables";

.box-main-det {
  width: 90%;
  margin: auto;
  display: flex;
}
@include media-sm {
  .box-main-det {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
@include media-lg {
  .box-main-det {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
