@import "../../scss/mixins";
@import "../../scss/variables";

.box-main-char {
  width: 100%;
  display: flex;
  margin: auto;
}

@include media-sm {
  .box-main-char {
    width: 100%;
    margin: auto;
  }
}
@include media-lg {
  .box-main-char {
    width: 100%;
    height: fit-content;
    margin: auto;
  }
}
