@import "../../scss/mixins";
@import "../../scss/variables";

.box-main-det {
  // width: 80%;
  // margin: auto;
  display: flex;
  // border: pink 20px dotted;
  // justify-content: left;
}
@include media-md {
  .box-main-det {
    flex-direction: column;
    width: 28%;
    margin-left: .5rem;
    // border: pink 5px dotted;
  }
}
