@import "../../scss/mixins";
@import "../../scss/variables";


.box-main-char{
    // margin-left: 39px;
    width: 100%;

    display: flex;
  justify-content: flex-start;
  // border: red 2px solid;
  
}