@import "../../scss/mixins";
@import "../../scss/variables";

.grid {
  width: 100%;
  margin-left: 40px;

  .box-charcards {
    margin: 30px 30px 30px 0;
    width: fit-content;

    :hover {
      cursor: pointer;
    }
    img {
      width: 336px;
      height: 336px;
      border-radius: 15px;
    }
    .empty-img {
      width: 336px;
      height: 336px;
      border-radius: 15px;
      background-color: $btnUnknown;
    }
  }
  .text-head {
    font-family: $font-Poppin;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .text-bottom {
    font-family: $font-Poppin;
    color: #44281d;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: flex-start;

    .span-1,
    .span-2,
    .span-3 {
      width: 16px;
      height: 16px;
      border-radius: 100%;
    }
    .span-1 {
      color: $btnDead;
      background-color: $btnDead;
    }
    .span-2 {
      color: $btnAlive;
      background-color: $btnAlive;
    }
    .span-3 {
      color: $btnUnknown;
      background-color: $btnUnknown;
    }
  }
}

@include media-sm {
  .grid {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-left: 20px;
  }
  .box-charcards {
    margin: auto;

    img {
      width: 300px;
      height: 300px;
      border-radius: 15px;
    }
    .empty-img {
      width: 300px;
      height: 300px;
      border-radius: 15px;
      background-color: $btnUnknown;
    }
  }
}
