@import "../../scss/mixins";
@import "../../scss/variables";

.grid {
  width: 100%;
  margin-left: 40px;
  

  .box-charcards {
    margin: 30px 30px 30px 0;
    width: fit-content;
    :hover{
      cursor:pointer ;
    }
    img {
      width: 336px;
      height: 336px;
      border-radius: 15px;
    }
    .empty-img {
      background-color: $btnUnknown;
    }
  }
  .text-head {
     font-family: $font-Poppin;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .text-bottom {
    font-family: $font-Poppin;
    color: #44281D;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: flex-start;

    .span-1 {
      width: 16px;
      height: 16px;
      color: $btnDead;
      background-color: $btnDead;
      border-radius: 100%;
      // margin-right: 15px;
    }
    .span-2 {
      width: 16px;
      height: 16px;
      color: $btnAlive;
      background-color: $btnAlive;
      border-radius: 100%;
      // margin-right: 15px;
    }
    .span-3 {
      width: 16px;
      height: 16px;
      color: $btnUnknown;
      background-color: $btnUnknown;
      border-radius: 100%;
      // margin-right: 15px;
    }
  }
}
