@import "../../scss/mixins";
@import "../../scss/variables";

.grid-Det {
  width: 50rem;
  // border: $pink 9px dotted;

  .box-left-cards {
    margin: auto;
    width: 100%;
    // background-color: $btnAlive;

    img {
      width: 550px;
      height: 550px;
      top: 159px;
      left: 39px;
      border-radius: 15px;
    }
    // .empty-img {
    // }
  }
  .box-text {
    width: 100%;
  }
  .text-head {
    font-family: $font-Poppin;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .text-bottom {
    font-family: $font-Poppin;
    color: #44281d;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    display: flex;
    justify-content: space-between;
    width: 90%;

    .span-1 {
      width: 16px;
      height: 16px;
      color: $btnDead;
      background-color: $btnDead;
      border-radius: 100%;
      // margin-right: 15px;
    }
    .span-2 {
      width: 16px;
      height: 16px;
      color: $btnAlive;
      background-color: $btnAlive;
      border-radius: 100%;
      // margin-right: 15px;
    }
    .span-3 {
      width: 16px;
      height: 16px;
      color: $btnUnknown;
      background-color: $btnUnknown;
      border-radius: 100%;
      // margin-right: 15px;
    }
    .text-right {
      font-family: $font-Poppin;
      font-size: 16px;
      font-style: italic;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: right;
    }
    .text-org-name {
      font-family: $font-Poppin;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: right;
    }
  }
}

@include media-sm {
  .grid-Det {
    margin: auto;
  }
  // .box-left-cards {
  //   //  border: $green dotted 10px;
  // }
  .box-img {
    width: 100%;
    // height: fit-content;
  }
  img {
    max-width: 100%;
    height: fit-content;
    border-radius: 15px;
  }
  .empty-img {
    width: 100%;
    height: 345px;
    border-radius: 15px;
  }
  .box-text {
    width: 90%;
    //  border: $btnDead 3px double;
  }
  .text-bottom {
    width: 65%;
  }
}
@include media-lg {
  
    
  .text-bottom {
    width: 100%;
  }
  .box-img {
    width: 70%;
    // background-color: $btnAlive;
    margin: auto;
    // height: fit-content;
  }
  .box-text {
    margin: auto;
    margin-bottom: 2rem;
 
}
}
