@import "../scss/variables";
@import "../scss/mixins";

.box-char-det{
    
    width: 1512px;
height: 1271px;
// top: 1943px;
// left: 532px;
margin: auto;
// border: rgb(218, 123, 123) 3px solid;

}
@include media-md {
    .box-char-det{
// border: rgb(218, 123, 123) 3px solid;
// width: 100%;
height:fit-content;

    }
}