//? Colors
$brown: #44281D;
$pink: #E899C7;
$softOrange: #E4A788;
$yellow: #EFE04B;
$green: #98CD4D;
$btnDead: #B90000;
$btnAlive: #98CD4D;
$btnUnknown: #B8B8B8;


//?Fonts
@import url('https://fonts.google.com/specimen/Poppins');

$font-Poppin: 'Poppins', sans-serif;